### una ves mas importamos las librerias, como usaremos un Dataset que no es de juguete no importamos Datasets

siempre importa primero las mas pesadas

In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

importamos el data set que se debe encontrar en la misma carpeta que el modelo

In [2]:
df = pd.read_csv('insurance.csv')

In [7]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

hacemos un describe para ver si la tabla esta limpia

In [6]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

como podemos ver hay columnas que contienen texto por lo que no aparecen en el describe, ahora haremos un header para ver los datos y luego un unique

In [8]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [9]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

## ahora vamos a mapear las columnas no numericas para hacerlas numericas

In [10]:
df.sex = df.sex.map({'female' : 1, 'male' : 2})
df['smoker'] = df['smoker'].map({'no' : 0,'yes' : 1})
df.region = df.region.map({'southwest' : 1, 'southeast': 2, 'northwest': 3, 'northeast': 4})

ahora veremos los cambios

In [11]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       1       1  16884.92400
1   18    2  33.770         1       0       2   1725.55230
2   28    2  33.000         3       0       2   4449.46200
3   33    2  22.705         0       0       3  21984.47061
4   32    2  28.880         0       0       3   3866.85520

### si el count de las columnas es menor al maximo, en este caso 1338, significa que tiene valores nulos, si mas del 50% son nulos se hace *dropna*, caso contrario un *fillna*

In [12]:
df.describe()

,age,sex,bmi,children,smoker,region,charges
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,1.505232,30.663397,1.094918,0.204783,2.484305,13270.422265
std,14.049960,0.500160,6.098187,1.205493,0.403694,1.104885,12110.011237
min,18.000000,1.000000,15.960000,0.000000,0.000000,1.000000,1121.873900
25%,27.000000,1.000000,26.296250,0.000000,0.000000,2.000000,4740.287150
50%,39.000000,2.000000,30.400000,1.000000,0.000000,2.000000,9382.033000
75%,51.000000,2.000000,34.693750,2.000000,0.000000,3.000000,16639.912515
max,64.000000,2.000000,53.130000,5.000000,1.000000,4.000000,63770.428010

tambien existe el ATRIBUTO details para familiarizarse con la dataframe

In [13]:
df.dtypes

age           int64
sex           int64
bmi         float64
children      int64
smoker        int64
region        int64
charges     float64
dtype: object

para elejir la columna target se tiene que elejir una columna NO CATEGORICA, las categoricas son aquellas que pueden dividirse en unos uantos valores finitos, mientras las no categoricas no pueden ser divididas de esa manera por ejemplo: 
### sexo (hombre, mujer) -- > (0,1) // categorica
### monto (1.....3999) --- > (1....3999) // no categorica

esta tabla sera nuestro objetivo y de la cual haremos predicciones usando otra columna

ahora dividiremos el dataset en un X (caracteristica independiente) y Y (caracteristica dependiente)

# si queremos sacar las columnas, elejimos las que tengan mas correlacion con la columna objetivo

In [15]:
corr = round(df.corr(),4)
corr.style.background_gradient()

# por ahora tomaremos la salida facil

In [14]:
data_x = df.drop(['charges'], axis=1)
data_y = df.charges

dividimos entre datos de entrenamiento y testeo

In [16]:
data_x_train,data_x_test,data_y_train,data_y_test =train_test_split(data_x,data_y,test_size=0.2)

## inicializamos la regresion lineal o el modelo

In [17]:
linear_reg = LinearRegression()

In [18]:
linear_reg.fit(data_x_train,data_y_train)

LinearRegression()

# veamos la ecuacion de la recta

In [20]:
linear_reg.coef_

array([  252.83233052,  -335.45011707,   343.63579016,   528.83612234,
       24063.78410571,   285.91409305])

In [21]:
linear_reg.intercept_

-12832.51310066256

# como ya entrenamos
vamos a hacer la prediccion

In [26]:
data_y_predicted = linear_reg.predict(data_x_test)

In [27]:
data_y_predicted

array([32436.04772017,  3453.19709555,  9093.93189846,  6610.11387195,
       32483.3563984 , 37165.82774842,  4235.30675618, 10678.64408138,
        6919.46332093,  7362.30429425, 14374.30728134,  7595.56206624,
       35942.5339224 ,  9209.34918078, 27975.65516396,  6383.79824899,
        4418.71554145, 14554.86126809,   761.86922483,  1630.47312341,
       10570.99222495, 11863.73288767,  1468.5919639 ,  9348.10110615,
       15229.79766194,  9741.77717701,  2240.81607978, 10474.17607979,
       34233.77068226, 13002.75296051,  3677.84932728, 10026.15960903,
       10836.41893011, 16561.11272321,  -900.96500502, 37788.57029558,
        8257.94400629, 27960.94202588, 12565.30283262,  6189.98871477,
       14652.27560678,  2875.26692427,  6007.26832851, 27725.80999535,
        3063.05951577,  8377.00459445, 14349.50694073, 27565.6230949 ,
       11371.37245047,  7104.93825413,  2652.22906518, 15964.25144267,
        9079.97505361, 13076.21757564,  6506.60424314, 39727.29272211,
       37016.85604899, 31513.23306692, 26276.3164145 , 25572.98780615,
        6377.64353396,  5121.46903959,  4572.39136517,  6478.60229406,
        5998.42385819,  4333.95765088, 13345.8798568 ,  4633.16153036,
        2294.63726674,  2605.16015357,  7724.10942668,  8303.3671315 ,
       25168.81053105,  6896.28251599, 27158.57271401, 15367.38525197,
       39839.12108985,  3304.29548234,  7533.30233309,  6880.82354262,
        8537.61303998, 32039.54133429, 13433.06493894,  7113.73411294,
       34034.40602671, 13597.92193285,  3617.6692978 , 13249.17756404,
       10962.98906227, 10808.51897535,   996.4612207 ,  1448.6622155 ,
       36953.29360802,  8713.62344732, 30704.72222902, 13532.91493851,
       14842.37323849,  3950.78543757, 14131.06933003, 13256.91114669,
        5693.07046447, 10254.45413815, -1835.10316394, 11939.81289017,
       34187.19165478, 33608.81950842,  1551.00949285, 34130.46782951,
        5638.42408163, 14202.26360047,  6075.86608245,  7226.49827905,
        7355.01352325, 38758.51244403,  9088.4519571 , 31513.41753171,
       29170.76244199, 13324.23618664, 31835.81588623,  9666.97568471,
       11191.719815  , 38458.29863091, 38947.54326941,  2557.98182302,
        9418.02793265,  4063.08440675, 14719.10458638,  5435.88295407,
        8163.54047644, 36789.12083725, 31358.38749896,  4636.7247779 ,
       13102.05647623, 13350.78152054,  1020.51488943,  2997.42500385,
       10439.52869498, 14683.36982197, 13366.75234709,  5415.00161448,
       13440.8232132 , 26330.995889  ,  9665.88865208,   409.56917195,
        5043.38921983, 11509.83276543, 12604.04460525, 14789.6336104 ,
       14551.5868105 ,  6230.15847623, 11445.02274694,  6819.9659968 ,
       13999.09276333, 29979.0498697 ,  5109.22496479,  4768.70012803,
        1489.70055904,  5595.39680348, 36140.43958718, 26030.85292939,
        8518.99757976, 35549.10504277, 16150.84357387,  2467.61570128,
       23442.44590719,  -399.38364104,  4317.22815552,  2923.8959844 ,
        4587.27341634,  9201.9722083 ,  9811.91115957,  6945.38217754,
        4123.23001366, 12552.23823655, 14572.2600186 ,  2032.84305876,
       11241.51039001, 12206.09498841, 11485.04260504, 11678.42861031,
       30233.08775428,  8525.59862084, 34710.99741174, 34073.09448138,
        5273.92842659,  5626.64130204,  9111.66487827, 14717.42302199,
       30274.20179665,  1869.3328811 ,   939.75584156, 10625.74914102,
        8289.77721588,  4071.89309908,  7453.68537854,  9088.57239755,
        3407.38621938,  8072.42388221,  8564.82930218, 12813.81478581,
       29999.49363025, 31435.16524411,  3850.92357992, 11051.67086403,
        9953.33743472,  6894.48999364, 19070.02316205,   809.1742413 ,
       15945.71349328, 25710.44212222, 35671.04979008,  3117.73414496,
        7637.21292637,  5297.86165488, 10986.668715  ,  5538.90186217,
       10057.19695153,  5169.62181641,  9741.57304952, 13261.30778644,
       12798.29611456, 11581.22555075,  2082.33201031,  9377.48802506,
        3157.14381732,  3186.1774972 , 33836.53543745, 11374.54975904,
       27722.10426906, 11765.82957101, 13339.76890798,  2869.75971199,
       11597.10624106,  4072.33978061,  6753.75637468,  3500.04646685,
       11330.84537639,  6708.99204671,  8231.18279383,  5917.16223152,
       10623.45487644,  9446.19519793, 16279.84574291,  8526.71853701,
        8497.25044552, 10019.18489891,  6631.71873555,  5216.29041652,
        9192.34023911,  4106.11793036, 12547.62864453,  4472.87012114,
        6491.23701428, 26880.05686003, 15310.08380205, 38551.32298715,
       10361.8642771 ,  5245.52962405,  2972.766762  ,  5222.46029591,
       11470.42309307,  1293.20360038, 10760.70520387,  7937.81055572,
        4650.62726451,  3800.4926538 ,  3716.79135752, 11702.08678833])

ahora vemos el puntaje del resultado

In [30]:
print(f'Calificacion de Prediccion: {round(linear_reg.score(data_x_test,data_y_test),4)*100}%')

Calificacion de Prediccion: 73.9%

# ahora mejoramos la prediccion basandonos en la correlacion

In [32]:
new_data_x = df.drop(['sex','children','region','charges'],axis='columns')

In [38]:
new_data_x

      age     bmi  smoker
0      19  27.900       1
1      18  33.770       0
2      28  33.000       0
3      33  22.705       0
4      32  28.880       0
...   ...     ...     ...
1333   50  30.970       0
1334   18  31.920       0
1335   18  36.850       0
1336   21  25.800       0
1337   61  29.070       1

[1338 rows x 3 columns]

In [57]:
new_data_x_train, new_data_x_test, y_train,y_test = train_test_split(new_data_x,data_y,test_size=0.2)

In [53]:
new_regression = LinearRegression()

In [58]:
new_regression.fit(new_data_x_train,y_train)

LinearRegression()

In [59]:
new_data_y_predicted = new_regression.predict(new_data_x_test)

In [60]:
print(f'Calificacion de Prediccion: {round(new_regression.score(new_data_x_test,y_test),4)*100}%')

Calificacion de Prediccion: 75.35%

ahora graficamos

In [64]:
def predict_charges(age,bmi,smoker,model):
    result = model.predict([[age,bmi,smoker]])
    return result[0]

In [71]:
age = 18
bmi = 32
smoker = 0

In [72]:
print(f'la persona de edad {age}, con indice de masa corporal {bmi} y que {"fuma" if smoker == 1 else "no fuma"}. Debe pagar: {predict_charges(age,bmi,smoker,new_regression)}')

la persona de edad 18, con indice de masa corporal 32 y que no fuma. Debe pagar: 3188.2476280917817

c:\Users\M-80-1\Documents\Trabajos de Clase\AlgoritmicaAvanzada\RepositorioAlgoritmica\algoritmica-2023-2\pandas_intro\pandas_env\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(